.nav {
  &_toggle {
    display: none;
  }

  &_list {
    display: flex;
    gap: $spacing-xl;
    align-items: center;
  }

  &_link {
    color: $color-heading;
    text-decoration: none;
    font-weight: $font-weight-medium;
    transition: color $transition-base;

    &:hover {
      color: $color-secondary;
    }

    &-cta {
      padding: 0.5em 2em;
      background-color: $color-secondary;
      color: $color-white;
      border-radius: $border-radius-sm;

      &:hover {
        @include button-hover($color-secondary);
      }
    }
  }

  @include mobile {
    &_toggle {
      display: block;

      &-close {
        display: none;
      }
    }

    &_list {
      display: none;
      position: fixed;
      inset: 0;
      background: hsla(229, 31%, 21%, 0.95);
      flex-direction: column;
      padding: 5rem $spacing-lg;
    }

    &_link {
      color: $color-white;
      font-size: $font-size-xl;
    }

    &.is-active {
      .nav_list {
        display: flex;
      }

      .nav_toggle-open {
        display: none;
      }

      .nav_toggle-close {
        display: block;
      }
    }
  }
}