.download {
    padding: $spacing-3xl 0;
}

.cards {
    display: grid;
    gap: $spacing-2xl;
    justify-items: center;
    max-width: 60rem;
    margin: 0 auto;

    @media (min-width: 48em) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        align-items: start;
    }
}

.card {
    background: $color-white;
    padding: $spacing-xl;
    border-radius: $border-radius-lg;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 20rem;

    &_icon {
        margin: 0 auto $spacing-lg;
    }

    &_title {
        color: $color-heading;
        margin-bottom: $spacing-sm;
    }

    &_text {
        color: $color-text;
        margin-bottom: $spacing-xl;
    }

    &_dots {
        display: none;
        margin: $spacing-lg $spacing-xl;
    }

    @media (min-width: 48em) {
        &:nth-child(2) {
            margin-top: 2rem;
        }

        &:nth-child(3) {
            margin-top: 4rem;
        }
    }
}